<mat-toolbar>
  <button mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <mat-icon class="logo" svgIcon="molina-logo" aria-label="Molina logo icon"></mat-icon>
  </span>
  <h1>A&G Dashboard</h1>

  <span class="spacer"></span>

  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <mat-form-field class="input-parent" subscriptSizing="dynamic">
    <mat-label>Color</mat-label>
    <mat-select>
      <mat-option value="primary">Primary</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
  